body {
	font-family: 'BebasNeue';
	background-color: #f8fadf;
}
input {
	font-family: 'BebasNeue'!important;
}
.sidebar {
	position: fixed;
	left: 0; height: 100%; top: 0; width: 60px;
	background-color: #00a896;
	box-shadow: 0 0 10px #999;
}
.sidebar>.pagelink {
	width: 60px;
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
	color: #f8fadf;
	cursor: pointer;
}
.sidebar>.pagelink:hover {
	background-color: rgba(0,0,0,0.1);
}

.pages {
	position: fixed;
	right: -10px; top: 0; left: 60px; height: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

.page {
	position: absolute;
	width: 0;
	opacity: 0;
	top: 100%;
	overflow: hidden;
}



.locallist .panel {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.locallist-show {
	font-size: 20px;
	color: #222;
}
.locallist-show-title {
	padding: 20px 20px 10 20px;
	font-size: 22px;
	cursor: pointer;
	font-weight: 400;
}
.fromfolder {
	color: #999;
	font-size: 16px;
	vertical-align: middle;
	margin-left: 10px;
}
.locallist-show-title:hover {
	background-color: #fff;
	background-color: rgba(0,0,0,0.05);
}
.locallist-show-episodes {
	font-size: 18px;
	font-weight: 100;
	padding: 0 20px 10px 30px;
}
.locallist-show-episode {
	padding: 5px;
	cursor: pointer;
}
.locallist-show-episode:hover {
	background-color: #fff;
	background-color: rgba(0,0,0,0.05);
}

.availabletorrents .panel {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.availabletorrents-show {
	font-size: 20px;
	color: #222;
}
.availabletorrents-show-title {
	padding: 20px 20px 10 20px;
	font-size: 22px;
	cursor: pointer;
	font-weight: 400;
}
.availabletorrents-show-title:hover {
	background-color: #fff;
	background-color: rgba(0,0,0,0.05);
}
.availabletorrents-show-episodes {
	font-size: 18px;
	font-weight: 100;
	padding: 0 20px 10px 30px;
}
.availabletorrents-show-episode {
	padding: 5px;
}
.availabletorrents-show-episode:hover {
	background-color: #fff;
	background-color: rgba(0,0,0,0.05);
}

.magnet,.magnet720p {
	text-decoration: none;
	color: #333;
	margin-left: 10px;
	cursor: pointer;
}


.settings {
	padding: 50px;
}
.watchedfolders {
	font-size: 30px;
}
.watchedfolders div {
	margin-bottom: 10px;	
}

.torrentfolder {
	font-size: 20px;
}

.torrentfolder .fa-times {
	color: #999;
	margin-left: 10px;
	cursor: pointer;
}

@font-face {
	font-family: "NovaMono";
	src: url(../fonts/novamono.ttf);
}

@font-face {
	font-family: "BebasNeue";
	src: url(../fonts/BebasNeue.otf);
}